{% extends 'base/bot_base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Банк:</h1>
            <h2 class="text-center">{{ bank_sum }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2 class="text-center">Внесено:</h2>
            <h3 class="text-center text-danger">{{ settings.get_bank_intake }}</h3>
        </div>
        <div class="col-6">
            <h2 class="text-center">Доля:</h2>
            <h3 class="text-center text-success">{{ settings.get_bank_profit }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8 mx-auto">
            <h2 class="text-center">История внесений</h2>
            {% include 'blocks/bank_records_table.html' %}
        </div>
    </div>
{% endblock %}
