{% extends 'base/bot_base.html' %}

{% load user_link %}
{% load duration %}

{% block content %}
    <h3><a href="#" class="text-decoration-none" onclick="window.history.back()">Назад</a></h3>
    <h1>Бот #{{ page_bot.pk }}</h1>
    <h2>Пользователь: {% user_link page_bot.user_bot_settings %}</h2>
    <h2>Начало: {{ page_bot.start_time|date:"H:i d.m.Y" }}</h2>
    <h2>Конец: {{ page_bot.end_time|date:"H:i d.m.Y" }}</h2>
    <h2>Длительность: {% duration page_bot.get_duration %}</h2>
    <h3>Окончание:
        {% if page_bot.ending_cause == 1 %}
            <span class="text-success">Ручное</span>
        {% elif page_bot.ending_cause == 2 %}
            <span class="text-danger">Не прошел/ла проверку</span>
        {% endif %}
    </h3>
{% endblock %}
