{% extends 'base/bot_base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-4">
            {% if session %}
                <h2>Бот идет</h2>
                <h3>Начало: {{ session.start_time|date:"H:i d.m.Y" }}</h3>
                <button class="btn btn-warning action-btn" href="{% url 'bot-ajax-end_session' %}">Закончить бот
                </button>
            {% else %}
                <button class="btn btn-success action-btn" href="{% url 'bot-ajax-start_bot_session' %}">Начать бот!
                </button>
            {% endif %}
        </div>
        <div class="col-6">
            <h2 class="text-center">Другие ботальщики</h2>
            {% with other_sessions as sessions %}
                {% include 'blocks/bot_sessions_table.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-8">
            <h2 class="text-center">История ботов</h2>
            <h4 class="text-center">
                <a href="{% url 'bot-all_bot_sessions_page' %}">
                    Полная история
                </a>
            </h4>
            {% with sessions_history as sessions %}
                {% include 'blocks/bot_history_table.html' %}
            {% endwith %}
        </div>
    </div>

{% endblock %}
