{% extends 'base/bot_base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-4">
            {% if time_interval %}
                <h2>Отчетный период идет</h2>
                <h3>Начало: {{ time_interval.start_time|date:"H:i d.m.Y" }}</h3>
                <h3>Конец: {{ time_interval.end_time|date:"H:i d.m.Y" }}</h3>
                <h3>Прогресс: {{ time_interval.count_completed_hours }}/{{ time_interval.hours_target }}</h3>

                <button class="btn btn-warning action-btn" href="{% url 'bot-ajax-premature_termination' %}">Завершить
                    заранее
                </button>
            {% else %}
                <button class="btn btn-success action-btn" href="{% url 'bot-ajax-start_time_interval' %}">Начать
                    отчетный период
                </button>
            {% endif %}
        </div>
        <div class="col-6">
            <h2 class="text-center">Другие ботальщики</h2>
            {% with other_time_intervals as intervals %}
                {% include 'blocks/time_intervals_table.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-10">
            <h2 class="text-center">История отчетных периодов</h2>
            <h4 class="text-center">
                <a href="{% url 'bot-all_time_intervals_page' %}">
                    Полная история
                </a>
            </h4>

            {% with time_intervals_history as intervals %}
                {% include 'blocks/time_intervals_history_table.html' %}
            {% endwith %}
        </div>
    </div>


{% endblock %}
