{% load static %}

<div class="tags-select mb-3">
    <div class="d-flex align-items-center position-relative">
        <div class="selected-tags d-flex">
            {% block selected_tags %}
            {% endblock %}
        </div>
        <div class="btn btn-outline-primary toggle-tags-selection-window-btn">+</div>

        <div class="tags-selection-window border p-2 mt-2 shadow-sm position-absolute bg-light overflow-scroll"
             style="display: none; top: 40px; height: 150px; width: 35%;">
            <button type="button" class="btn-close toggle-tags-selection-window-btn position-absolute end-0 top-0"
                    aria-label="Close"></button>
            <div class="w-100 d-flex">
                <input type="text" class="form-control" name="tag-name">
                <div class="btn btn-primary add-new-tag-btn ms-1 me-3" data-href="{% url 'olymp-add_tag' %}">Добавить
                </div>
            </div>
            <div class="not-selected-tags">
                {% block not_selected_tags %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="tags-select-input" style="display: none;">
        {% block tags_select_input %}
        {% endblock %}
    </div>
</div>
<script>
    let delete_tag_url = '{% url 'olymp-delete_tag' %}'
    let trash_icon_url = '{% static 'img/trash_icon.png' %}'
</script>
