{% load user_link %}

<table class="table text-center">
    <thead>
    <tr>
        <th scope="col">Пользователь</th>
        <th scope="col">Начало</th>
        <th scope="col">Конец</th>
        <th scope="col">Завершение</th>
    </tr>
    </thead>
    <tbody>
    {% for session in sessions %}
        <tr>
            <td>{% user_link session.user_bot_settings.user %}</td>
            <td>{{ session.start_time|date:"H:i d.m.Y" }}</td>
            <td>{{ session.start_time|date:"H:i d.m.Y" }}</td>
            <td>
                {% if session.ending_cause == 1 %}
                    Ручное
                {% elif session.ending_cause == 2 %}
                    Не прошел/ла проверку
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if not sessions %}
    <p class="text-center">Пока никто не ботал :(</p>
{% endif %}
