{% load user_link %}

<table class="table text-center">
    <thead>
    <tr>
        <th scope="col">Время</th>
        <th scope="col">Сообщение</th>
        <th scope="col">Тип</th>
    </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <td>{{ log.time|date:"H:i d.m.Y" }}</td>
            <td class="text-break">{{ log.message|safe }}</td>
            <td>{{ log.verbose_ru_translation }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if not logs %}
    <p class="text-center">Пока нет изменений</p>
{% endif %}
