{% load user_link %}

<table class="table text-center">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Пользователь</th>
        <th scope="col">Начало</th>
        <th scope="col">Конец</th>
        <th scope="col">План</th>
        <th scope="col">Прогресс</th>
        <th scope="col">Штраф</th>
        <th scope="col">Статус</th>
    </tr>
    </thead>
    <tbody>
    {% for interval in intervals %}
        <tr>
            <th scope="row">
                <a href="{% url 'bot-time_interval_view_page' interval.pk %}">
                    {{ interval.pk }}
                </a>
            </th>
            <td>{% user_link interval.user_bot_settings %}</td>
            <td>{{ interval.start_time|date:"H:i d.m.Y" }}</td>
            <td>{{ interval.end_time|date:"H:i d.m.Y" }}</td>
            <td>{{ interval.hours_target }}ч./{{ interval.initial_duration }}д.</td>
            <td>{{ interval.count_completed_hours }}/{{ interval.hours_target }}</td>
            <td class="text-danger">{{ interval.penalty }}</td>
            <td>
                {% if interval.status == 1 %}
                    <span class="text-primary">В процессе</span>
                {% elif interval.status == 2 %}
                    <span class="text-success">Выполнен</span>
                {% elif interval.status == 3 %}
                    <span class="text-danger">Провален</span>
                {% elif interval.status == 4 %}
                    <span class="text-warning">На рассмотрении</span>
                {% elif interval.status == 5 %}
                    <span class="text-success">Отменен (без штрафа)</span>
                {% elif interval.status == 6 %}
                    <span class="text-danger">Отменен (со штрафом)</span>
                {% elif interval.status == 7 %}
                    <span class="text-warning">Окончен заранее (ждет обработки)</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if not intervals %}
    <p class="text-center">Пока никто не ставил планов :(</p>
{% endif %}
