{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_name }}</title>

    {% bootstrap_css %}
    {% block extra_css %}{% endblock %}

    {% bootstrap_javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<header style="height: 80px;" class="mb-3">
    {% block nav_menu %}{% endblock %}
</header>

<div class="position-relative container">
    {% include 'base/messages/messages_block.html' %}
    <main role="main">
        {% block content %}{% endblock %}
    </main>
</div>

    <script src="{% static 'js/cookie.js' %}"></script>
    <script src="{% static 'js/messages.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
