{% extends 'base/olymp_base.html' %}

{% block content %}
    <h1 class="text-center">Sports programming</h1>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'olymp-start_training' %}" class="btn btn-primary action-btn" id="start_training_btn" type="button">Quick training</a>
        <a href="{% url 'olymp-start_new_training_page' %}" class="btn btn-primary" type="button">Start new training</a>
        {% if request.user.training %}
            <a href="{% url 'olymp-training' %}" class="btn btn-primary" type="button">Current training</a>
        {% endif %}
        <a href="{% url 'olymp-tasks_catalog' %}" class="btn btn-primary" type="button">Tasks catalog</a>
        <a href="{% url 'olymp-add_task' %}" class="btn btn-primary" type="button">Add task</a>
    </div>
{% endblock %}
